.custom-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;

  .custom-input-label {
    font-size: 14px;
    margin-bottom: 4px;
  }

  .custom-input-field {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid #555;
    border-radius: 4px;
    padding: 8px 12px;
    transition: border-color 0.3s;

    &:focus,
    &:hover {
      border-color: #f5a623;
      outline: none;
    }

    &::placeholder {
      color: var(--text-color);
    }
  }
}

.ant-input[type="password"]::placeholder {
  color: var(--text-color);
  opacity: 1;
}
